name: Build SO File

on: [push]

jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        pip install cython requests colorama

    - name: Compile to SO
      run: |
        python setup.py build_ext --inplace

    - name: Upload SO File
      uses: actions/upload-artifact@v4
      with:
        name: server-prox-file
        path: prox.cpython-*.so
